<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  <head>
    <%= render :partial => 'shared/head' %>
  </head>

  <body style="background-image: url(<%= asset_path 'bg.jpg' %>)">
    <%= render :partial => 'shared/analytics'-%>
    <div class="container">
      <%= render :partial => 'shared/header' %>

      <div id="wrapper" class="row pad-top-3">
        <%# breadcrumbs(@taxon) %>

        <% if content_for? :sidebar %>
          <div class="large-3 columns pad-top-1">
            <%= render :partial => 'spree/shared/sidebar' %>
          </div>
        <% end %>

        <div id="content" class="pad-top-1 columns <%= content_for?(:sidebar) ? "large-9" : "large-12" %>">
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
  </body>
</html>
