<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  <head>
    <%= render :partial => 'shared/head' %>
  </head>

  <body style="background: url(<%= RandomBgSelector.new.absolute_path-%>)">
    <div class="container">
      <%= render :partial => 'shared/header' %>

      <div id="wrapper" class="row" data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
  </body>
</html>
